# === FICHIERS TEMPORAIRES & LOGS ===
*.log
*.tmp
*.cache
*.session

# === FICHIERS SYSTÈME ===
.DS_Store
Thumbs.db

# === CONFIG SENSIBLE ===
.env
config.php
includes/config.php

# === DÉPENDANCES ===
vendor/
node_modules/

# === BASES DE DONNÉES LOCALES ===
database/backup.sql
# database/install.sql => garder pour montrer la structure de la BDD



# === WAMP (Windows) ===
wamp64/tmp/
wamp64/logs/

# === VISUAL STUDIO CODE ===
.vscode/
